@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,300;0,600;0,900;1,300&display=swap');

* {
    padding: 0.;
    margin: 0.;
}

.header1{
    display:grid;
    grid-template-columns: 30% 70%;
    height: 100%; 
    background-color:rgba(24, 50, 90, 0.911);
    border: 2px solid rgba(31, 58, 80, 0.801);
    margin: 10px;
    border-radius: 5px;
    border: 10px;
    padding: 2px;  
}

ul{
    display: grid;
    grid-template-columns: repeat(5, 20%);
    justify-items: center;
    list-style-type: none;
    font-family: 'Titillium Web', sans-serif;
    font-size: 14px;
    margin: 10px;
    border-radius: 5px;
    border: 10px;
    padding: 2px; 
}

nav{
    list-style-type: none;
    align-items: center;
    font-family: 'Titillium Web', sans-serif;
    font-size: 14px;
    border: 2px solid rgba(31, 58, 80, 0.801);
    margin: 10px;
    border-radius: 5px;
    border: 10px;
    padding: 2px;   
}

a{
    text-decoration: none;
    color:aliceblue
}

body{

    background-image: url(../images/fondo\ inicio.png);
    color: aliceblue;
    text-align: center;
    font-family: 'Poppins',sans-serif;
    font-weight: bolder;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

h1{
    font-style: normal;
    font-weight: bolder;
    font-family: 'Titillium Web', sans-serif;
    border: 2px solid rgba(31, 58, 80, 0.801);
    text-align: center;
    margin: 10px;
    border-radius: 5px;
    border: 10px;
    padding: 2px; 
}

h2 {
    background-color: rgba(11, 6, 51, 0.733);
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    font-family: 'Titillium Web', sans-serif;
    border: 2px solid rgba(31, 58, 80, 0.801);
    text-align: center;
    margin: 10px;
    border-radius: 5px;
    border: 10px;
    padding: 2px; 
}

.producto2{
    display: grid;
    grid-template-columns: 40% 60%;
    background-color: rgba(11, 6, 51, 0.733);
    margin: 10px;
    border-radius: 5px;
    border: 10px;
    padding: 2px; 
}

.imgProducto{
    display: grid;
    grid-template-rows: 1fr 1fr;
    justify-items: center;
}

.sobreNosotros2{
    display: grid;
    grid-template-columns: 40% 60%;
    background-color: rgba(11, 6, 51, 0.733);
    margin: 10px;
    border-radius: 5px;
    border: 10px;
    padding: 2px; 
}

.comoFunciona2{
    display: grid;
    grid-template-columns: 40% 60%;
    background-color: rgba(11, 6, 51, 0.733);
    margin: 10px;
    border-radius: 5px;
    border: 10px;
    padding: 2px; 
}

p{
    font-style: normal;
    font-size: 16px;
    font-weight:600;
    font-family:'Times New Roman', Times, serif;
    color: aliceblue;
    margin: 10px;
    border-radius: 5px;
    border: 10px;
    padding: 2px; 
}

h3{
    background-color: rgba(11, 6, 51, 0.733);
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    font-family: 'Titillium Web', sans-serif;
    text-align:start;
    border: 2px solid rgba(31, 58, 80, 0.801);
    margin: 10px;
    border-radius: 5px;
    border: 10px;
    padding: 2px; 
}

.redes{
    background-color: rgba(11, 6, 51, 0.733);
    text-align: center;
    border: 2px solid rgba(31, 58, 80, 0.801);
    margin: 10px;
    border-radius: 5px;
    border: 10px;
    padding: 2px; 
}

.ImgPrincipal {
    border-radius: 5px;
    border: 2px solid rgba(31, 58, 80, 0.801);
    width: 1fr;
    height: 1fr;
    margin: 10px;
    border-radius: 5px;
    border: 10px;
    padding: 2px;  
}

.nProductos{
    display: grid; 
    grid-template-columns: 100%;
    grid-template-rows:15% 85%;
    background-color: rgba(11, 6, 51, 0.733);
    font-family: 'Titillium Web', sans-serif; 
    margin: 10px;
    border-radius: 5px;
    border: 10px;
    padding: 2px; 
}

.nvProductos{
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    font-family: 'Titillium Web', sans-serif;
    text-align: center;
    margin: 10px;
    border-radius: 5px;
    border: 10px;
    padding: 2px; 
}

.img22{
    display: flex;
    flex-direction: column;
}
.imgPrincipal2 {
    border-radius: 5px;
    border: 2px solid rgba(31, 58, 80, 0.801);
    width: 150px;
    height:120px;
    margin: 6px;
    border-radius: 5px;
    border: 6px;
    padding: 2px;   
}

footer{
    display: grid;
    grid-template-rows: 40% 60%;
    margin-top: 10px;
    margin-bottom: 0px;
    background-color: rgba(11, 6, 51, 0.733);
    font-family: 'Titillium Web', sans-serif; 
    border-radius: 5px;
    border: 10px;
    padding: 2px; 
}

.video2{
    display: grid;
    grid-template-rows: 15% 85%;
    background-color: rgba(11, 6, 51, 0.733);
    margin: 10px;
    border-radius: 5px;
    border: 10px;
    padding: 2px;   
}

.video{
    width: 500px;
    height: 500px;
    
    margin: 8vh;
    border-radius: 5px; 
}

.logitos{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
}

.historia1, .historia2, .historia3{
    display: grid;
    grid-template-columns: 100%;
    background-color: rgba(11, 6, 51, 0.733);
    margin: 10px;
    border-radius: 5px;
    border: 10px;
    padding: 2px; 
}

p{
    font-style: normal;
    font-size: 16px;
    font-weight:600;
    font-family:'Times New Roman', Times, serif;
    color: aliceblue;
    margin: 10px;
    border-radius: 5px;
    border: 10px;
    padding: 2px; 
}


/*grids areas :D*/
body{
    grid-area: body;
}
.body2{
    grid-area: body2;
}
.header1{
    grid-area: header;
}
.titulo1{
    grid-area: titulo;
}
.barramenu{
    grid-area: nav
}
.producto2{
    grid-area: producto2;
}
.producto{
    grid-area:producto;
}
.img1{
    grid-area:img1;
}
.img2{
    grid-area:img2;
}
.img3{
    grid-area:img3;
}
.img22{
    grid-area:img22;
}
.nProductos{
    grid-area:nProductos;
}
.nvProductos{
    grid-area:nvProductos;
}
.sobreNosotros2{
    grid-area: sobreNosotros2;
}
.sobreNosotros{
    grid-area: sobreNosotros;
}
.comoFunciona2{
    grid-area: comoFunciona2;
}
.comoFunciona{
    grid-area: comoFunciona;
}
.video2{
    grid-area: video2;
}
.video{
    grid-area: video;
}
footer{
    grid-area: footer;
}
.historia{
    grid-area: historia;
}
.historia1{
    grid-area: historia1;
}
.historia2{
    grid-area:historia2;
}
.historia3{
    grid-area:historia3;
}


@media (min-width:300px){
    .header1{
        margin-bottom: 1.5em;
        grid-template-columns: 100%;
        grid-template-areas: 
        "titulo"
        "nav"
    }
    .producto2{
        grid-template-columns: 100%;
        grid-template-areas:
        "producto"  
        "img1"
        "img1"
    }
    .sobreNosotros2{
        grid-template-columns: 100%;
        grid-template-areas:
        "sobreNosotros" 
        "img2"
        "img2"
    }
    .comoFunciona2{
        grid-template-columns: 100%;
        grid-template-areas:
        "comoFunciona" 
        "img3"
        "img3"
    }
    .video2{
        grid-template-columns: 100%;
        grid-template-areas:
        "video2"  
    }
    footer{
        grid-template-columns: 100%;
        grid-template-areas:
        "footer"  
    }
    .ImgPrincipal{
        width: 200px;
        height: 200px;   
    }
    .video{
        width: 200px;
        height: 200px;
    }
    .imgPrincipal2{
        width: 200px;
        height: 200px; 
    }
    .nProductos{
        display: grid;
        grid-template-columns:100%;
        grid-template-areas:
        "nvProductos"
        "img22"
    }
    .historia{
        grid-template-columns: 100%;
        grid-template-areas: 
        "historia1"
        "historia2"
        "historia3"
    }
}

@media (min-width:480px){
    .header1{
        margin-bottom: 1.5em;
        grid-template-columns: 100%;
        grid-template-areas: 
        "titulo"
        "nav"
    }
    .producto2{
        grid-template-columns: 100%;
        grid-template-areas:
        "producto"  
        "img1"
    }
    .sobreNosotros2{
        grid-template-columns: 100%;
        grid-template-areas:
        "sobreNosotros" 
        "img2"
    }
    .comoFunciona2{
        grid-template-columns: 100%;
        grid-template-areas:
        "comoFunciona" 
        "img3"
    }
    .video2{
        grid-template-columns: 100%;
        grid-template-areas:
        "video2"   
    }
    footer{
        grid-template-columns: 100%;
        grid-template-areas:
        "footer"   
    }
    .video{
        width: 300px;
        height: 300px;
    }
    .imgPrincipal2{
        width: 200px;
        height: 200px; 
    }
    .nProductos{
        display: grid;
        grid-template-columns:100%;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-template-areas:
        "nvProductos"
        "img22"
        "img22"
        "img22"
    }
    .img22{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-content: center;
    }
     
    
}

@media (min-width:780px){
    .header1{
        margin-bottom: 1.5em;
        grid-template-columns: 40% 60%;
        grid-template-areas: 
        "titulo  nav"
    }
    .producto2{
        grid-template-columns: 40% 60%;
        grid-template-areas:
        "producto  img1"
    }
    .sobreNosotros2{
        grid-template-columns: 40% 60%;
        grid-template-areas:
        "sobreNosotros img2"
    }
    .comoFunciona2{
        grid-template-columns: 40% 60%;
        grid-template-areas:
        "comoFunciona img3"
    }
    .video2{
        grid-template-columns: 100%;
        grid-template-areas:
        "video2"   
    }
    footer{
        grid-template-columns: 100%;
        grid-template-areas:
        "footer"   
    }
    .nProductos{
        display: grid;
        grid-template-columns:100%;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-template-areas:
        "nvProductos "
        "img22 "
        "img22 "
        "img22 "
    }
    .img22{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-content: center;
    }

}

p {
    animation-duration: 3s;
    animation-name: slidein;
  }
  
  @keyframes slidein {
    from {
      margin-left: 100%;
      width: 300%
      
    }

    to {
      margin-left: 0%;
      width: 100%;
    }

  }