* {
    padding:0;
    margin:0;
}

body{
    background-image: url(../images/fondito.jpg);
    color: aliceblue;
    font-family: 'Titillium Web';
    font-weight: 600;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    text-align: justify;
}

