.producto2{
    display: grid;
    grid-template-columns: 50% 50%;
    background-color:$colorFondo;
    margin: 10px;
    border-radius: 5px;
    border: 10px;
    padding: 2px; 

    h2 {
        background-color:$colorFondoTextos;
        font-style: normal;
        font-weight: bold;
        font-size: 25px;
        font-family: 'Titillium Web', sans-serif;
        border: 2px solid rgba(31, 58, 80, 0.801);
        text-align: center;
        margin: 10px;
        border-radius: 5px;
        border: 10px;
        padding: 2px; 

        p{
            font-style: normal;
            font-size: 16px;
            font-weight:600;
            font-family:'Times New Roman', Times, serif;
            color: aliceblue;
            margin: 10px;
            border-radius: 5px;
            border: 10px;
            padding: 2px;
        }
    }
}

