@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,300;0,600;0,900;1,300&display=swap");
* {
  padding: 0;
  margin: 0;
}

body {
  background-image: url(../images/fondito.jpg);
  color: aliceblue;
  font-family: "Titillium Web";
  font-weight: 600;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  text-align: justify;
}

h1 {
  font-style: normal;
  font-weight: 600;
  font-family: "Titillium Web";
  border: 2px solid rgba(31, 58, 80, 0.801);
  text-align: center;
  margin: 10px;
  border-radius: 5px;
  border: 10px;
  padding: 2px;
}

header {
  height: 100%;
  border: 2px solid rgba(31, 58, 80, 0.801);
  margin: 10px;
  margin-top: 0px;
  border-radius: 5px;
  border: 10px;
  padding: 2px;
}
header nav {
  display: grid;
  grid-template-columns: 50% 50%;
  font-family: "Titillium Web", sans-serif;
  font-size: 14px;
  font-weight: 600;
  margin: 10px;
  border-radius: 5px;
  border: 10px;
  padding: 2px;
  list-style-type: none;
}
header nav .flexNav {
  justify-content: flex-end;
}
header nav ul {
  list-style-type: none;
  font-family: "Titillium Web", sans-serif;
  font-size: 16px;
  margin: 10px;
  border-radius: 5px;
  border: 10px;
  padding: 2px;
  background-color: rgba(43, 57, 126, 0.658);
}
header nav ul li a {
  text-decoration: none;
  color: rgb(252, 252, 252) !important;
  font-size: medium;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.producto2 {
  display: grid;
  grid-template-columns: 50% 50%;
  background-color: rgba(16, 11, 88, 0.75);
  margin: 10px;
  border-radius: 5px;
  border: 10px;
  padding: 2px;
}
.producto2 h2 {
  background-color: rgba(43, 57, 126, 0.658);
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  font-family: "Titillium Web", sans-serif;
  border: 2px solid rgba(31, 58, 80, 0.801);
  text-align: center;
  margin: 10px;
  border-radius: 5px;
  border: 10px;
  padding: 2px;
}
.producto2 h2 p {
  font-style: normal;
  font-size: 16px;
  font-weight: 600;
  font-family: "Times New Roman", Times, serif;
  color: aliceblue;
  margin: 10px;
  border-radius: 5px;
  border: 10px;
  padding: 2px;
}

.sobreNosotros2 {
  display: grid;
  grid-template-columns: 40% 60%;
  background-color: rgba(16, 11, 88, 0.75);
  border-radius: 5px;
  border: 10px;
  padding: 2px;
  margin: 10px;
}
.sobreNosotros2 h2 {
  background-color: rgba(43, 57, 126, 0.658);
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  font-family: "Titillium Web", sans-serif;
  border: 2px solid rgba(31, 58, 80, 0.801);
  text-align: center;
  margin: 10px;
  border-radius: 5px;
  border: 10px;
  padding: 2px;
}
.sobreNosotros2 h2 p {
  font-style: normal;
  font-size: 16px;
  font-weight: 600;
  font-family: "Times New Roman", Times, serif;
  color: aliceblue;
  margin: 10px;
  border-radius: 5px;
  border: 10px;
  padding: 2px;
}
.sobreNosotros2 .imgProducto {
  display: grid;
  align-content: center;
  justify-items: center;
}

.comoFunciona2 {
  display: grid;
  grid-template-columns: 40% 60%;
  background-color: rgba(16, 11, 88, 0.75);
  border-radius: 5px;
  border: 10px;
  padding: 2px;
  margin: 10px;
}
.comoFunciona2 h2 {
  display: flex;
  background-color: rgba(43, 57, 126, 0.658);
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  font-family: "Titillium Web", sans-serif;
  border: 2px solid rgba(31, 58, 80, 0.801);
  text-align: center;
  margin: 10px;
  border-radius: 5px;
  border: 10px;
  padding: 2px;
}
.comoFunciona2 h2 p {
  font-style: normal;
  font-size: 16px;
  font-weight: 600;
  font-family: "Times New Roman", Times, serif;
  color: aliceblue;
  margin: 10px;
  border-radius: 5px;
  border: 10px;
  padding: 2px;
}
.comoFunciona2 .imgProducto {
  display: grid;
  align-content: center;
  justify-items: center;
}

.video2 {
  display: grid;
  grid-template-rows: 15% 85%;
  background-color: rgba(16, 11, 88, 0.75);
  margin: 10px;
  border-radius: 5px;
  border: 10px;
  padding: 2px;
}
.video2 h2 {
  background-color: rgba(43, 57, 126, 0.658);
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  font-family: "Titillium Web", sans-serif;
  border: 2px solid rgba(31, 58, 80, 0.801);
  text-align: center;
  margin: 10px;
  border-radius: 5px;
  border: 10px;
  padding: 2px;
}
.video2 .v2 {
  display: grid;
  margin: 10px;
  border-radius: 5px;
  border: 10px;
  padding: 2px;
}
.video2 .v2 .video {
  margin: 10px;
  border-radius: 5px;
  border: 10px;
  padding: 2px;
}

footer {
  display: grid;
  grid-template-rows: 40% 60%;
  margin: 10px;
  margin-bottom: 0px;
  border-radius: 5px;
}
footer h3 {
  background-color: rgba(43, 57, 126, 0.658);
  font-style: normal;
  font-weight: 600;
  font-family: "Titillium Web", sans-serif;
  margin: 10px;
  border-radius: 5px;
  border: 10px;
  padding: 2px;
  text-align: center;
}
footer .logitos {
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-items: center;
  align-items: center;
}
footer .logitos .logito1 {
  padding: 2px;
  margin-left: 15px;
  margin-right: 15px;
  border: 10px;
}
footer .redSocial, footer h3 {
  border: 2px solid rgba(241, 242, 243, 0.801);
  font-size: 18px;
  color: black;
}
footer h3 {
  color: rgb(255, 255, 255);
}
footer h3 {
  border: 10px;
  padding: 10px;
  color: rgb(216, 154, 154);
}

.nProductos {
  display: grid;
  grid-template-columns: 100%;
  background-color: rgba(16, 11, 88, 0.75);
  font-family: "Titillium Web", sans-serif;
  margin: 10px;
  border-radius: 5px;
  border: 10px;
  padding: 2px;
}
.nProductos .nvProductos {
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  font-family: "Titillium Web", sans-serif;
  text-align: center;
  margin: 10px;
  border-radius: 5px;
  border: 10px;
  padding: 2px;
}
.nProductos .nvProductos h2 {
  background-color: rgba(43, 57, 126, 0.658);
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  font-family: "Titillium Web", sans-serif;
  border: 2px solid rgba(31, 58, 80, 0.801);
  text-align: center;
  margin: 10px;
  border-radius: 5px;
  border: 10px;
  padding: 2px;
}
.nProductos .imgPrincipal2 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  border-radius: 5px;
  border: 2px solid rgba(31, 58, 80, 0.801);
  margin: 6px;
  padding: 2px;
}

.historia {
  background-color: rgba(16, 11, 88, 0.75);
  margin: 10px;
  border-radius: 5px;
  border: 10px;
  padding: 2px;
}
.historia .historia1, .historia .historia2, .historia .historia3 {
  display: grid;
  grid-template-columns: 100%;
}
.historia .historia1 h2, .historia .historia2 h2, .historia .historia3 h2 {
  background-color: rgba(43, 57, 126, 0.658);
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  font-family: "Titillium Web", sans-serif;
  border: 2px solid rgba(31, 58, 80, 0.801);
  text-align: center;
  margin: 10px;
  border-radius: 5px;
  border: 10px;
  padding: 2px;
}
.historia .historia1 p, .historia .historia2 p, .historia .historia3 p {
  display: flex;
  align-items: center;
  text-align: start;
  font-style: normal;
  font-size: 16px;
  font-weight: 600;
  font-family: "Times New Roman", Times, serif;
  color: aliceblue;
  margin: 10px;
  border-radius: 5px;
  border: 10px;
  padding: 2px;
}
.historia .historia1 img, .historia .historia2 img, .historia .historia3 img {
  border-radius: 5px;
  margin: 6px;
  padding: 2px;
}
.historia .historia1 .imgPrincipal, .historia .historia2 .imgPrincipal, .historia .historia3 .imgPrincipal {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  border-radius: 5px;
  margin: 6px;
  padding: 2px;
}

.contactanos1 {
  display: grid;
  grid-template-rows: 40% 60%;
  flex-direction: column;
  background-color: rgba(16, 11, 88, 0.75);
  margin: 10px;
  border-radius: 5px;
  padding: 2px;
  font-family: "Titillium Web";
  justify-items: stretch;
  align-items: center;
}

.contactanos2 {
  display: grid;
  flex-direction: column;
  margin: 10px;
  border-radius: 5px;
  padding: 2px;
  font-family: "Titillium Web";
  justify-content: start;
  align-content: center;
}

.form {
  display: grid;
  flex-direction: column;
  background-color: rgba(16, 11, 88, 0.75);
  margin: 10px;
  border-radius: 5px;
  padding: 2px;
  font-family: "Titillium Web";
  justify-items: stretch;
  align-content: center;
}

.cursos-section {
  margin: 10px;
  border-radius: 5px;
  border: 10px;
  padding: 2px;
}
.cursos-section .curso1, .cursos-section .curso2, .cursos-section .curso3 {
  display: grid;
  grid-template-columns: 100%;
  background-color: rgba(16, 11, 88, 0.75);
  border-radius: 5px;
  border: 10px;
  padding: 2px;
}
.cursos-section .curso1 h2, .cursos-section .curso2 h2, .cursos-section .curso3 h2 {
  background-color: rgba(43, 57, 126, 0.658);
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  font-family: "Titillium Web", sans-serif;
  border: 2px solid rgba(31, 58, 80, 0.801);
  text-align: center;
  margin: 10px;
  border-radius: 5px;
  border: 10px;
  padding: 2px;
}
.cursos-section .curso1 p, .cursos-section .curso2 p, .cursos-section .curso3 p {
  display: flex;
  align-items: center;
  text-align: start;
  font-style: normal;
  font-size: 16px;
  font-weight: 600;
  font-family: "Times New Roman", Times, serif;
  color: aliceblue;
  margin: 10px;
  border-radius: 5px;
  border: 10px;
  padding: 2px;
}
.cursos-section .curso1 .v2, .cursos-section .curso2 .v2, .cursos-section .curso3 .v2 {
  display: grid;
  margin: 10px;
  border-radius: 5px;
  border: 10px;
  padding: 2px;
}
.cursos-section .curso1 .v2 .video, .cursos-section .curso2 .v2 .video, .cursos-section .curso3 .v2 .video {
  margin: 10px;
  border-radius: 5px;
  border: 10px;
  padding: 2px;
}

.d-block {
  margin: auto;
}

/*grids areas :D*/
body {
  grid-area: body;
}

.body2 {
  grid-area: body2;
}

.header1 {
  grid-area: header;
}

.titulo1 {
  grid-area: titulo;
}

.barramenu {
  grid-area: nav;
}

.producto2 {
  grid-area: producto2;
}

.producto {
  grid-area: producto;
}

.img1 {
  grid-area: img1;
}

.img2 {
  grid-area: img2;
}

.img3 {
  grid-area: img3;
}

.img22 {
  grid-area: img22;
}

.himg {
  grid-area: himg;
}

.nProductos {
  grid-area: nProductos;
}

.nvProductos {
  grid-area: nvProductos;
}

.sobreNosotros2 {
  grid-area: sobreNosotros2;
}

.sobreNosotros {
  grid-area: sobreNosotros;
}

.comoFunciona2 {
  grid-area: comoFunciona2;
}

.comoFunciona {
  grid-area: comoFunciona;
}

.video2 {
  grid-area: video2;
}

.video {
  grid-area: video;
}

footer {
  grid-area: footer;
}

.historia {
  grid-area: historia;
}

.historia1 {
  grid-area: historia1;
}

.historia2 {
  grid-area: historia2;
}

.historia3 {
  grid-area: historia3;
}

.contactanos1 {
  grid-area: contactanos2;
}

.contactanos2 {
  grid-area: contactanos2;
}

.form {
  grid-area: form;
}

@media (min-width: 300px) {
  .header1 {
    margin-bottom: 1.5em;
    grid-template-columns: 100%;
    grid-template-areas: "titulo" "nav";
  }
  .producto2 {
    grid-template-columns: 100%;
    grid-template-areas: "producto" "img1" "img1";
  }
  .sobreNosotros2 {
    grid-template-columns: 100%;
    grid-template-areas: "sobreNosotros" "img2" "img2";
  }
  .comoFunciona2 {
    grid-template-columns: 100%;
    grid-template-areas: "comoFunciona" "img3" "img3";
  }
  .video2 {
    grid-template-columns: 100%;
    grid-template-areas: "video2";
  }
  footer {
    grid-template-columns: 100%;
    grid-template-areas: "footer";
  }
  .ImgPrincipal {
    width: 250px;
    height: 150px;
  }
  .himg {
    width: 250px;
    height: 150px;
  }
  .video {
    width: 200px;
    height: 200px;
  }
  .imgPrincipal2 {
    width: 250px;
    height: 250px;
  }
  .nProductos {
    display: grid;
    grid-template-columns: 100%;
    grid-template-areas: "nvProductos" "img22";
  }
  .historia {
    grid-template-columns: 100%;
    grid-template-areas: "historia1" "historia2" "historia3";
  }
  .img22 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  .contactanos1 {
    grid-template-areas: "contactanos2" "form";
  }
}
@media (min-width: 480px) {
  .header1 {
    margin-bottom: 1.5em;
    grid-template-columns: 100%;
    grid-template-areas: "titulo" "nav";
  }
  .producto2 {
    grid-template-columns: 100%;
    grid-template-areas: "producto" "img1";
  }
  .sobreNosotros2 {
    grid-template-columns: 100%;
    grid-template-areas: "sobreNosotros" "img2";
  }
  .comoFunciona2 {
    grid-template-columns: 100%;
    grid-template-areas: "comoFunciona" "img3";
  }
  .video2 {
    grid-template-columns: 100%;
    grid-template-areas: "video2";
  }
  footer {
    grid-template-columns: 100%;
    grid-template-areas: "footer";
  }
  .video {
    width: 300px;
    height: 300px;
  }
  .imgPrincipal2 {
    width: 300px;
    height: 150px;
  }
  .himg {
    width: 300px;
    height: 150px;
  }
  .nProductos {
    display: grid;
    grid-template-columns: 100%;
    grid-template-areas: "nvProductos" "img22" "img22" "img22";
  }
  .img22 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  .img2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
  }
  .img3 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
  }
  .contactanos1 {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "contactanos2  form";
  }
}
@media (min-width: 780px) {
  .header1 {
    margin-bottom: 1.5em;
    grid-template-columns: 40% 60%;
    grid-template-areas: "titulo  nav";
  }
  .producto2 {
    grid-template-columns: 40% 60%;
    grid-template-areas: "producto  img1";
  }
  .sobreNosotros2 {
    grid-template-columns: 40% 60%;
    grid-template-areas: "sobreNosotros img2 img2";
  }
  .comoFunciona2 {
    grid-template-columns: 40% 60%;
    grid-template-areas: "comoFunciona img3 img3";
  }
  .video2 {
    grid-template-columns: 100%;
    grid-template-areas: "video2";
  }
  footer {
    grid-template-columns: 100%;
    grid-template-areas: "footer";
  }
  .nProductos {
    display: grid;
    grid-template-columns: 100%;
    grid-template-areas: "nvProductos " "img22 " "img22 " "img22 ";
  }
  .ImgPrincipal {
    width: 300px;
    height: 150px;
  }
  .himg {
    width: 300px;
    height: 150px;
  }
  .img22 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
}
/* animaciones :D*/
p {
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-name: slidein;
          animation-name: slidein;
}

@-webkit-keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }
  to {
    margin-left: 0%;
    width: 100%;
  }
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }
  to {
    margin-left: 0%;
    width: 100%;
  }
}
.footer {
  background-image: linear-gradient(to bottom, rgba(149, 151, 158, 0.836), rgb(23, 67, 134));
}

.header1 {
  background-image: linear-gradient(to bottom, rgb(23, 67, 134), rgba(149, 151, 158, 0.836));
}

.logito1:hover {
  transform: scale(2);
}/*# sourceMappingURL=style.css.map */